body {
    font-family: "Ubuntu", sans-serif;
    background: #0e0f11;
}

h1 {
    font-size: 64px;
    position: absolute;
    top: 50%;
    left: 10%;
    right: 10%;
    text-align: center;
    color: white;
}

h2 {
    font-size: 40px;
    font-weight: 200;
    color: white;
    margin-top: 96px;
}

h3 {
    font-size: 36px;
    color: white;
    margin-top: 136px;
}

a {
    font-size: 18px;
    color: white;
}

a:hover {
    color: #df4f4f;
}

a:active {
    color: #df4f4f;
}

.navbar-nav .active .nav-link {
    color: #df4f4f !important;
}

.kanji {
    height: 300px;
    position: relative;
    text-align: center;
    margin-bottom: 124px;
    opacity: 0.1;
}

hr {
    margin-top: 124px;
    border-top: 1px solid rgb(45, 45, 45);
}

footer {
    color: white;
    text-align: center;
    padding: 16px;
}
